<%- include('../../layouts/index') %>

    <div class="work-order-status" id="workOrderStatus">
        <div class="work-order-status-text">
            <span>all</span>
        </div>
        <div class="work-order-status-text">
            <span>order</span>
        </div>
        <div class="work-order-status-text">
            <span>resolving</span>
        </div>
        <div class="work-order-status-text">
            <span>complete</span>
        </div>
    </div>

    <div class="content" id="content">
        <% for (const workOrder of workOrders) {%>
            <div>
                <span>
                    id= <%= workOrder.id %>
                </span>
                <span>
                    orderer_id = <%= workOrder.orderer_id %>
                </span>
                <span>
                    worker_id= <%= workOrder.worker_id %>
                </span>
                <span>
                    is_complete= <%= workOrder.is_complete %>
                </span>
                <span>
                    is_urgent= <%= workOrder.is_urgent %>
                </span>
                <span>
                    end_date= <%= workOrder.end_date %>
                </span>
                <span>
                    created_at= <%= workOrder.created_at %>
                </span>
            </div>
            <%}%>
    </div>
    <script src="/public/js/bars.js"></script>
    <%- include('../../footers/index') %>