<%- include('../layouts/index') %>

    <%- include('../headers/index') %>
        <div class="content">
            <%- include('../navs/index') %>
                <%- include('../mains/image') %>
        </div>
        <%- include('../footers/index') %>
            <!-- class root end -->
            </div>
            <script src="/public/js/main.js"></script>