<%- include('../layouts/index') %>

    <%- include('../headers/index') %>
        <div class="content" id="content">
            <%- include('../navs/index') %>
                <%- include('../mains/index') %>
        </div>
        <%- include('../footers/index') %>
            <!-- end root class -->
            </div>