<nav class="nav" id="nav">
    <% if (user.role==='admin' ) { %>
        <%- include('navs/index') %>
            <%- include('navs/work-order') %>
                <%- include('navs/remnant') %>
                    <%- include('navs/client') %>

                        <% } else if (user.role==='user' ) { %>
                            <%- include('navs/field') %>
                                <% } %>

</nav>