<%- include('../layouts/base') %>

    <div class="content client" id="content">
        <% for (const client of clients) { %>
            <div class="client-container" id="clientContainer" data-id="<%= client.id %>">
                <div class="preview">
                    <div class="preview-top">
                        <div class='left'>
                            <span id='association'>
                                <%= client.association %>
                            </span>
                            <div>
                                <span id='telephone'>
                                    <%= client.telephone %>
                                </span>
                            </div>
                        </div>
                        <div>
                            <span id='name'>
                                <%= client.name %>
                            </span>
                        </div>
                    </div>
                    <div class="preview-bottom">
                        <span id='comment'>
                            <%= client.comment %>
                        </span>
                    </div>
                </div>
                <div class="metadata">
                    <div class="datetime">
                        <span>
                            <%= client.created_at %>
                        </span>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    <%- include('../partials/entry') %>
        <%- include('../partials/status') %>
            <%- include('../partials/popup') %>
                <script src="/public/js/client.js"></script>
                <%- include('../partials/footer') %>