<%- include('../layouts/base') %>

    <div class="content client" id="content">
        <% for (const client of clients) { %>
            <div class="client-container" id="clientContainer" data-id="<%= client.id %>">
                <%- include('../partials/preview', {client}); %>
                    <%- include('../partials/metadata', {client}); %>
            </div>
            <% } %>
    </div>
    <%- include('../partials/entry') %>
        <%- include('../partials/status') %>
            <%- include('../partials/popup') %>
                <script src="/public/js/client.js"></script>
                <%- include('../partials/footer') %>