<%- include('../layouts/base') %>

    <div class="content field" id="content">
    </div>
    <%- include('../partials/entry') %>
        <%- include('../partials/status') %>
            <%- include('../partials/popup') %>
                <script src="/public/js/field.js"></script>
                <%- include('../partials/footer') %>