<%- include('../layouts/base') %>

    <div class="content remnant" id="content">
        <% for (const remnantDetail of remnantDetails) { %>
            <div class="remnant-container" id="remnantContainer" data-id="<%= remnantDetail.id %>"
                data-item_id="<%= remnantDetail.item_id %>" data-zone_id="<%= remnantDetail.remnant_zone_id %>"
                data-creator_id="<%= remnantDetail.creator_id %>">
                <%- include('../partials/preview', {remnantDetail}); %>
                    <%- include('../partials/metadata', {remnantDetail}); %>
            </div>
            <% } %>
    </div>
    <%- include('../partials/entry') %>
        <%- include('../partials/status') %>
            <%- include('../partials/popup') %>
                <script src="/public/js/remnant.js"></script>
                <%- include('../partials/footer') %>