<%- include('../layouts/base') %>

    <div class="content work-order" id="content">
        <% for (const workOrder of workOrders) { %>
            <div class="work-order-container" id="workOrderContainer" data-id="<%= workOrder.id %>"
                data-client_id="<%= workOrder.client_id %>" data-is_complete="<%=workOrder.is_complete %>"
                data-is_urgent="<%=workOrder.is_urgent %>">
                <div class="preview">
                    <div class="preview-top">
                        <div>
                            <% if (!workOrder.is_complete) { %>
                                <span>resolving</span>
                                <% } else { %>
                                    <span>complete</span>
                                    <div>
                                        <span>
                                            <%= workOrder.end_date %>
                                        </span>
                                    </div>
                                    <% } %>
                        </div>
                        <div>
                            <% if (workOrder.is_urgent) { %>
                                <span>urgent</span>
                                <% } %>
                        </div>
                    </div>
                    <div class="preview-bottom">
                        <span>
                            <%= workOrder.comment %>
                        </span>
                    </div>
                </div>
                <div class="metadata">
                    <div id="client" class="client"></div>
                    <div class="datetime">
                        <div>
                            <span>
                                <%= workOrder.created_at %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    <%- include('../partials/status') %>
        <%- include('../partials/popup') %>
            <script src="/public/js/workOrder.js"></script>
            <%- include('../partials/footer') %>