<%- include('../layouts/base') %>

    <div class="content work-order" id="content">
        <% for (const workOrder of workOrders) { %>
            <div class="work-order-container" id="workOrderContainer" data-id="<%= workOrder.id %>"
                data-client_id="<%= workOrder.client_id %>" data-is_complete="<%=workOrder.is_complete %>"
                data-is_urgent="<%=workOrder.is_urgent %>">
                <%- include('../partials/preview', {workOrder}); %>
                    <%- include('../partials/metadata', {workOrder}); %>
            </div>
            <% } %>
    </div>
    <%- include('../partials/entry') %>
        <%- include('../partials/status') %>
            <%- include('../partials/popup') %>
                <script src="/public/js/workOrder.js"></script>
                <%- include('../partials/footer') %>